/* ---- default styling ---- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* - navbar related - */
.signup {
    background: white;
    color: #8089ff !important;
    font-weight: 600;
    line-height: 1.5;

    border: 1 solid transparent;
    border-radius: 50rem;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

/* - Signup button - */
.signup:hover {
    color: white !important;
    background: -webkit-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: -o-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

/* - general things related - */
.rounded-maximum {
    border-radius: 50rem;
}

.fill-available {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

.pt-vh-50 {
    padding-top: 50vh;
}

.pt-vh-25 {
    padding-top: 25vh;
}

.pt-h-50 {
    padding-top: 50%;
}

.mt-h-50 {
    margin-top: 50%;
}

.fit-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-7 {
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 1.2
}

/* - footer related - */
.bg-oscuro {
    background-color: #181A1B;
}

.bg-oscurisimo {
    background-color: #141617;
}

.bg-gradient-blue {
    background: -webkit-linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
    background: -o-linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
    background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.bg-gradient-deepblue {
    background: -webkit-linear-gradient(45deg, #5E64BA 0%, #3E96BA 100%);
    background: -o-linear-gradient(45deg, #5E64BA 0%, #3E96BA 100%);
    background: linear-gradient(45deg, #5E64BA 0%, #3E96BA 100%);
}

.bg-gradient-peach {
    background: -webkit-linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
    background: -o-linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
    background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.bg-gradient-green {
    background: -webkit-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: -o-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

.bg-gradient-purple {
    background: -webkit-linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
    background: -o-linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
    background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
}

.bg-gradient-creamy {
    background: -webkit-linear-gradient(45deg, rgba(233, 220, 234, 1) 0%, rgba(230, 244, 244, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(233, 220, 234, 1) 0%, rgba(230, 244, 244, 1) 100%);
    background: linear-gradient(45deg, rgba(233, 220, 234, 1) 0%, rgba(230, 244, 244, 1) 100%);
}

.bg-gradient-greeniously {
    background: -webkit-linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(213, 238, 201, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(213, 238, 201, 1) 100%);
    background: linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(213, 238, 201, 1) 100%);
}

.bg-gradient-evergreen {
    background: -webkit-linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(153, 240, 110, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(153, 240, 110, 1) 100%);
    background: linear-gradient(45deg, rgba(86, 235, 205, 1) 0%, rgba(153, 240, 110, 1) 100%)
}

.bg-gradient-veryligthgreen {
    background: linear-gradient(to top right, #99ff99 0%, #ffffcc 100%);
}