/* - Adjustements - */
.fit-content {
    min-width: 100px;
}

.card-title:before {
    content: ">";
}

/* - Underline - */
.underline {
    border-bottom: .3em solid transparent;

    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#A8DBED), to(#E291E6));
    -webkit-border-image: -webkit-linear-gradient(left, #A8DBED 0%, #E291E6 100%);
    -o-border-image: -o-linear-gradient(left, #A8DBED 0%, #E291E6 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(#A8DBED), to(#E291E6));
    border-image: linear-gradient(to right, #A8DBED 0%, #E291E6 100%);

    border-image-slice: 1;
}

.underline span {
    vertical-align: -0.4em;
}

