/* ---- default styling ---- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ---- particles.js container ---- */
#particles {
    z-index: -1;

    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---- components ---- */

.vh-100 {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

/* - navbar related - */
.navbar {
    transition: background-color 0.35s linear, color 0.35s linear;
}

.navbar.scrolled {
    background-color: #fff !important;
}

.signup {
    background: white;
    color: #8089ff !important;
    font-weight: 600;
    line-height: 1.5;

    border: 0 solid transparent;
    border-radius: 50rem;

    outline: 0;
    user-select: none;
    transition: all 0.15s ease-in-out;
}

.signup.scrolled {
    color: white !important;
    background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

/* - howdoesthiswork related - */
/* - footer related - */
.bg-oscuro {
    background-color: #1c2331;
}
