/* ---- default styling ---- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* - navbar related - */
.navbar {
    transition: background-color 0.35s linear, color 0.35s linear;
}

.navbar.scrolled {
    background-color: #fff !important;
}

.signup {
    background: white;
    color: #8089ff !important;
    font-weight: 600;
    line-height: 1.5;

    border: 1 solid transparent;
    border-radius: 50rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    outline: 0;
    user-select: none;
    transition: all 0.30s ease-in-out;
}

.signup.scrolled {
    color: white !important;
    background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

/* ---- particles.js container ---- */
#particles {
    z-index: -1;

    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - general things related - */
.alejar {
    padding-top: 50%;
}

.rounded-maximum {
    border-radius: 50rem;
}

.vh-100 {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

/* ---- components ---- */

/* - dropbars related - */
input {
    outline: none !important;
    border: none;
    background: none;
}

/* - footer related - */
.bg-oscuro {
    background-color: #181A1B;
}

.brand {
    background-color: #141617;
}
