/* - navbar related - */
.navbar {
    -webkit-transition: background-color 0.35s linear, color 0.35s linear;
    -o-transition: background-color 0.35s linear, color 0.35s linear;
    transition: background-color 0.35s linear, color 0.35s linear;
}

.navbar.scrolled {
    background-color: #fff !important;
}

.signup.scrolled {
    color: white !important;
    background: -webkit-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: -o-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
    background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

/* ---- particles.js container ---- */
#particles {
    z-index: -1;

    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - general things related - */
/* ---- components ---- */

/* - dropbars related - */
input {
    outline: none !important;
    border: none;
    background: none;
}

/* - Torrent and magnet related - */

.active_bar {
    width: 160px !important;
}

.submit_bar {
    width: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.magnet_icon {
    content: url('../img/torrent_file.png');
    height: 30px;
    width: 30px;
}

.torrent_icon {
    content: url('../img/torrent_file.png');
    height: 30px;
    width: 30px;
}

/* --- Animations --- */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* --- Keyframes --- */

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  